In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv(r"C:\Users\darsh\OneDrive\Desktop\Week 3 - Data Cleaning (Pandas) - 2\chipotle.tsv",sep='\t')
df

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [4]:
df.isnull().sum()

order_id                 0
quantity                 0
item_name                0
choice_description    1246
item_price               0
dtype: int64

    Que 1 : Quantity of each item? (Top 5 items available in store)

In [5]:
item_quantities = df.groupby('item_name')['quantity'].sum().reset_index()
sorted_items = item_quantities.sort_values(by='quantity', ascending=False)
top_5_items = sorted_items.head(5)
print("\nTop 5 items available in the store:")
print(top_5_items)

Top 5 items available in the store:
              item_name  quantity
17         Chicken Bowl       761
18      Chicken Burrito       591
25  Chips and Guacamole       506
39        Steak Burrito       386
10    Canned Soft Drink       351

     Que 2 : Which is the most ordered item in choice_description?

In [6]:
choice_quantities = df.groupby('choice_description')['quantity'].sum().reset_index()
most_ordered_item = choice_quantities.loc[choice_quantities['quantity'].idxmax()]
print("\nMost ordered item in choice_description:")
print(most_ordered_item)

Most ordered item in choice_description:
choice_description    [Diet Coke]
quantity                      159
Name: 15, dtype: object

    Que 3 : What is total order count?

In [7]:
total_order_count = df['quantity'].sum()
print("\nTotal Order Count:")
print(total_order_count)

Total Order Count:
4972

    Que 4 : What is revenue?

In [8]:
df['item_price'] = df['item_price'].replace('[\$,]', '', regex=True).astype(float)
df['revenue'] = df['quantity'] * df['item_price']
total_revenue = df['revenue'].sum()
print("\nTotal Revenue:")
print(total_revenue)

Total Revenue:
39237.02

In [9]:
df

,order_id,quantity,item_name,choice_description,item_price,revenue
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39,2.39
1,1,1,Izze,[Clementine],3.39,3.39
2,1,1,Nantucket Nectar,[Apple],3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,33.96
...,...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75,11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75,11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25,11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75,8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75,8.75

    Que 5 : what are number of orders?

In [10]:
number_of_orders = df['order_id'].nunique()
print("\nNumber of Orders:")
print(number_of_orders)

Number of Orders:
1834

    Que 6 : How many different items are sold?

In [11]:
number_of_items_sold = df['item_name'].nunique()
print("\nNumber of Different Items Sold:")
print(number_of_items_sold)

Number of Different Items Sold:
50

    Que 7 : What is revenue from each product?

In [12]:
df['item_price'] = df['item_price'].replace('[\$,]', '', regex=True).astype(float)
df['revenue'] = df['quantity'] * df['item_price']
product_revenue = df.groupby('item_name')['revenue'].sum().reset_index()
print("\nRevenue from Each Product:")
print(product_revenue)

Revenue from Each Product:
                                item_name  revenue
0                       6 Pack Soft Drink   369.93
1                           Barbacoa Bowl   672.36
2                        Barbacoa Burrito   894.75
3                   Barbacoa Crispy Tacos   138.71
4                     Barbacoa Salad Bowl   106.40
5                     Barbacoa Soft Tacos   250.46
6                           Bottled Water   649.18
7                                    Bowl    74.00
8                                 Burrito    44.40
9                             Canned Soda   191.84
10                      Canned Soft Drink   603.75
11                          Carnitas Bowl   830.71
12                       Carnitas Burrito   616.33
13                  Carnitas Crispy Tacos    95.94
14                         Carnitas Salad     8.99
15                    Carnitas Salad Bowl    66.34
16                    Carnitas Soft Tacos   375.94
17                           Chicken Bowl  8044.63
18                        Chicken Burrito  6387.06
19                   Chicken Crispy Tacos   524.11
20                          Chicken Salad    81.09
21                     Chicken Salad Bowl  1506.25
22                     Chicken Soft Tacos  1199.01
23                                  Chips   580.34
24           Chips and Fresh Tomato Salsa  1033.96
25                    Chips and Guacamole  2475.62
26      Chips and Mild Fresh Tomato Salsa     3.00
27     Chips and Roasted Chili Corn Salsa    73.75
28     Chips and Roasted Chili-Corn Salsa    43.02
29  Chips and Tomatillo Green Chili Salsa   144.55
30    Chips and Tomatillo Red Chili Salsa   159.30
31  Chips and Tomatillo-Green Chili Salsa    88.43
32    Chips and Tomatillo-Red Chili Salsa    93.21
33                           Crispy Tacos    14.80
34                                   Izze    67.80
35                       Nantucket Nectar   111.87
36                                  Salad    14.80
37                          Side of Chips   290.68
38                             Steak Bowl  2479.81
39                          Steak Burrito  4236.13
40                     Steak Crispy Tacos   375.32
41                            Steak Salad    35.66
42                       Steak Salad Bowl   391.15
43                       Steak Soft Tacos   554.55
44                            Veggie Bowl   901.95
45                         Veggie Burrito  1002.27
46                    Veggie Crispy Tacos     8.49
47                           Veggie Salad    50.94
48                      Veggie Salad Bowl   182.50
49                      Veggie Soft Tacos    90.94

    Que 8 : Find the unique items.

In [13]:
unique_items = df['item_name'].unique()
print("\nUnique Items:")
print(unique_items)

Unique Items:
['Chips and Fresh Tomato Salsa' 'Izze' 'Nantucket Nectar'
 'Chips and Tomatillo-Green Chili Salsa' 'Chicken Bowl' 'Side of Chips'
 'Steak Burrito' 'Steak Soft Tacos' 'Chips and Guacamole'
 'Chicken Crispy Tacos' 'Chicken Soft Tacos' 'Chicken Burrito'
 'Canned Soda' 'Barbacoa Burrito' 'Carnitas Burrito' 'Carnitas Bowl'
 'Bottled Water' 'Chips and Tomatillo Green Chili Salsa' 'Barbacoa Bowl'
 'Chips' 'Chicken Salad Bowl' 'Steak Bowl' 'Barbacoa Soft Tacos'
 'Veggie Burrito' 'Veggie Bowl' 'Steak Crispy Tacos'
 'Chips and Tomatillo Red Chili Salsa' 'Barbacoa Crispy Tacos'
 'Veggie Salad Bowl' 'Chips and Roasted Chili-Corn Salsa'
 'Chips and Roasted Chili Corn Salsa' 'Carnitas Soft Tacos'
 'Chicken Salad' 'Canned Soft Drink' 'Steak Salad Bowl'
 '6 Pack Soft Drink' 'Chips and Tomatillo-Red Chili Salsa' 'Bowl'
 'Burrito' 'Crispy Tacos' 'Carnitas Crispy Tacos' 'Steak Salad'
 'Chips and Mild Fresh Tomato Salsa' 'Veggie Soft Tacos'
 'Carnitas Salad Bowl' 'Barbacoa Salad Bowl' 'Salad' 'Veggie Crispy Tacos'
 'Veggie Salad' 'Carnitas Salad']

    Que 9 : What is the total cost and quantity of every unique item?

In [14]:
df['item_price'] = df['item_price'].replace('[\$,]', '', regex=True).astype(float)
df['cost'] = df['quantity'] * df['item_price']
item_summary = df.groupby('item_name').agg({'quantity': 'sum', 'cost': 'sum'}).reset_index()
print("\nTotal Cost and Quantity of Every Unique Item:")
print(item_summary)

Total Cost and Quantity of Every Unique Item:
                                item_name  quantity     cost
0                       6 Pack Soft Drink        55   369.93
1                           Barbacoa Bowl        66   672.36
2                        Barbacoa Burrito        91   894.75
3                   Barbacoa Crispy Tacos        12   138.71
4                     Barbacoa Salad Bowl        10   106.40
5                     Barbacoa Soft Tacos        25   250.46
6                           Bottled Water       211   649.18
7                                    Bowl         4    74.00
8                                 Burrito         6    44.40
9                             Canned Soda       126   191.84
10                      Canned Soft Drink       351   603.75
11                          Carnitas Bowl        71   830.71
12                       Carnitas Burrito        60   616.33
13                  Carnitas Crispy Tacos         8    95.94
14                         Carnitas Salad         1     8.99
15                    Carnitas Salad Bowl         6    66.34
16                    Carnitas Soft Tacos        40   375.94
17                           Chicken Bowl       761  8044.63
18                        Chicken Burrito       591  6387.06
19                   Chicken Crispy Tacos        50   524.11
20                          Chicken Salad         9    81.09
21                     Chicken Salad Bowl       123  1506.25
22                     Chicken Soft Tacos       120  1199.01
23                                  Chips       230   580.34
24           Chips and Fresh Tomato Salsa       130  1033.96
25                    Chips and Guacamole       506  2475.62
26      Chips and Mild Fresh Tomato Salsa         1     3.00
27     Chips and Roasted Chili Corn Salsa        23    73.75
28     Chips and Roasted Chili-Corn Salsa        18    43.02
29  Chips and Tomatillo Green Chili Salsa        45   144.55
30    Chips and Tomatillo Red Chili Salsa        50   159.30
31  Chips and Tomatillo-Green Chili Salsa        33    88.43
32    Chips and Tomatillo-Red Chili Salsa        25    93.21
33                           Crispy Tacos         2    14.80
34                                   Izze        20    67.80
35                       Nantucket Nectar        29   111.87
36                                  Salad         2    14.80
37                          Side of Chips       110   290.68
38                             Steak Bowl       221  2479.81
39                          Steak Burrito       386  4236.13
40                     Steak Crispy Tacos        36   375.32
41                            Steak Salad         4    35.66
42                       Steak Salad Bowl        31   391.15
43                       Steak Soft Tacos        56   554.55
44                            Veggie Bowl        87   901.95
45                         Veggie Burrito        97  1002.27
46                    Veggie Crispy Tacos         1     8.49
47                           Veggie Salad         6    50.94
48                      Veggie Salad Bowl        18   182.50
49                      Veggie Soft Tacos         8    90.94

    Que 10 : Find the average of every unique item.

In [15]:
df['item_price'] = df['item_price'].replace('[\$,]', '', regex=True).astype(float)
df['cost'] = df['quantity'] * df['item_price']
item_average = df.groupby('item_name').agg({'quantity': 'mean', 'cost': 'mean'}).reset_index()
print("\nAverage Cost and Quantity for Every Unique Item:")
print(item_average)

Average Cost and Quantity for Every Unique Item:
                                item_name  quantity       cost
0                       6 Pack Soft Drink  1.018519   6.850556
1                           Barbacoa Bowl  1.000000  10.187273
2                        Barbacoa Burrito  1.000000   9.832418
3                   Barbacoa Crispy Tacos  1.090909  12.610000
4                     Barbacoa Salad Bowl  1.000000  10.640000
5                     Barbacoa Soft Tacos  1.000000  10.018400
6                           Bottled Water  1.302469   4.007284
7                                    Bowl  2.000000  37.000000
8                                 Burrito  1.000000   7.400000
9                             Canned Soda  1.211538   1.844615
10                      Canned Soft Drink  1.166113   2.005814
11                          Carnitas Bowl  1.044118  12.216324
12                       Carnitas Burrito  1.016949  10.446271
13                  Carnitas Crispy Tacos  1.142857  13.705714
14                         Carnitas Salad  1.000000   8.990000
15                    Carnitas Salad Bowl  1.000000  11.056667
16                    Carnitas Soft Tacos  1.000000   9.398500
17                           Chicken Bowl  1.048209  11.080758
18                        Chicken Burrito  1.068716  11.549837
19                   Chicken Crispy Tacos  1.063830  11.151277
20                          Chicken Salad  1.000000   9.010000
21                     Chicken Salad Bowl  1.118182  13.693182
22                     Chicken Soft Tacos  1.043478  10.426174
23                                  Chips  1.090047   2.750427
24           Chips and Fresh Tomato Salsa  1.181818   9.399636
25                    Chips and Guacamole  1.056367   5.168309
26      Chips and Mild Fresh Tomato Salsa  1.000000   3.000000
27     Chips and Roasted Chili Corn Salsa  1.045455   3.352273
28     Chips and Roasted Chili-Corn Salsa  1.000000   2.390000
29  Chips and Tomatillo Green Chili Salsa  1.046512   3.361628
30    Chips and Tomatillo Red Chili Salsa  1.041667   3.318750
31  Chips and Tomatillo-Green Chili Salsa  1.064516   2.852581
32    Chips and Tomatillo-Red Chili Salsa  1.250000   4.660500
33                           Crispy Tacos  1.000000   7.400000
34                                   Izze  1.000000   3.390000
35                       Nantucket Nectar  1.074074   4.143333
36                                  Salad  1.000000   7.400000
37                          Side of Chips  1.089109   2.878020
38                             Steak Bowl  1.047393  11.752654
39                          Steak Burrito  1.048913  11.511223
40                     Steak Crispy Tacos  1.028571  10.723429
41                            Steak Salad  1.000000   8.915000
42                       Steak Salad Bowl  1.068966  13.487931
43                       Steak Soft Tacos  1.018182  10.082727
44                            Veggie Bowl  1.023529  10.611176
45                         Veggie Burrito  1.021053  10.550211
46                    Veggie Crispy Tacos  1.000000   8.490000
47                           Veggie Salad  1.000000   8.490000
48                      Veggie Salad Bowl  1.000000  10.138889
49                      Veggie Soft Tacos  1.142857  12.991429